@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
body {
    font-family: 'Kumbh Sans', sans-serif;
    background-image: url(https://i.imgur.com/1DYAZ9N.png);
    background-size: cover; /* Adicione esta propriedade para cobrir toda a tela */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
  }

  .logo {
    width: 400px; 
    height: auto; 
    margin-bottom: 20px; 
    transition: transform 0.5s ease; 
    animation: bounce 3s infinite; 
    margin-top: 100px;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0); 
    }
    50% {
      transform: translateY(-15px); 
    }
  }

.table-rounded tbody tr {
    background-color: #f8f9fa; 
  }
  
  .table-rounded tbody tr:nth-child(1) {
    background-color: #28a745; 
  }

  .table-rounded tbody tr:nth-child(2) {
    background-color: #007bff; 
  }
  
  .table-rounded tbody tr:nth-child(3) {
    background-color: #ffc107;
  }
  
  .table-rounded th,
  .table-rounded td {
    border: none;
  }
  
  .table-rounded {
    border-radius: 10px; 
    overflow: hidden; 
  }

  .pokemon-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

   .medal-icon {
    font-size: 1.5em;
  }
  
  .background-wrapper {
    background-color: #00000080;
    padding: 20px;
    border-radius: 15px;
  }
  
